{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="section">Active Listings</h2>
    <div class="grid">
        {% for listing in all_listings %}
        <div class="item_container">
            <ul>
                <div id="image_box">
                    <img src="{{ listing.image }}" alt="No image" id="resize">
                </div>
                <div>
                    <li><a href="{% url 'listing' listing.id %}">Title: {{ listing }} </a></li>
                    <li>Creator: {{ listing.user.username}} </li>
                    <li>Category: {{ listing.category}} </li>
                    <li id="description">Description: {{ listing.description }} </li>
                    <li><b>Current price: {{ listing.price }}</b></li>
                </div>
            </ul>
        </div>    
        {% endfor %}
    </div>
{% endblock %}