{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div>
        {% for listing in all_listing %}
            <ul>
                <li><a href="{% url 'listing' listing.id %}">Listing id: {{ listing.id}} </a></li>
                <li>Creator id: {{ listing.user.username}} </li>
                <li>Category: {{ listing.category}} </li>
                <li>Title: {{ listing.title }} </li>
                <li>Description: {{ listing.description }} </li>
                <li>Current price: {{ listing.price }} </li>
                <li>Image: <img src="{{ listing.image }}" alt="No image" style="max-width: 200px;"></li>
            </ul>
        {% endfor %}
    </div>
{% endblock %}