{% extends "auctions/layout.html" %}

{% block body %}
    {% if listing.status == "Closed" or message == "Auction is closed" %}
        <ul>  
            <li> Title: {{ listing }} </li>
            {% if message == "Auction is closed" %}
                <li> Auction status: <b>{{ message }}</b> </li>
            {% elif listing.status == "Closed" %}
                <li> Auction status: <b>{{ listing.status }}</b> </li>
            {% endif %}
            <li> Winner: {{ bid.user }} </li>

            <li>Creator: {{ listing.user.username }}</li>
            <li>Category: {{ listing.category }}</li>
            <li>Description: {{ listing.description }}</li>
            <li><b>Current Bid ($): {{ listing.price }}</b></li>
            {% if listing.image.url != None %}
                <!-- remember to add ".url" to link to the image -->
                <li>Image: <img src="{{ listing.image.url }}" alt="Image" style="max-width: 200px;"></li>
            {% endif %}    
        </ul>
    {% elif message == "Only creator can close this auction!" %}
        <h2>{{ message }}</h2>
        <button><a href="{% url 'listing' listing.id %}"> Previous page </a></button>
    {% else %}
        <form method="post" action="{% url 'listing' listing.id %}">
            {% csrf_token %}
            <button type="submit" name="close_auction">Close Auction</button>
        </form>

        <form method="post" action="{% url 'watchlist' %}">
            {% csrf_token %}
            <!-- <input type="hidden" name="page_url" value="{{ request.build_absolute_uri }}"> -->
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <button type="submit" name="add_button">Add to watchlist</button>
        </form>

        <form method="post" action="{% url 'bid' %}">
            {% csrf_token %}
            <label for="bid">Your Bid:</label><br>   
            <input type="number" id="bid_price" name="bid_price" placeholder="input your bid">
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <button type="submit" name="bid_price_submit">Bid now</button>
        </form>

        <ul>
            <li>Title: {{ listing }}</li>
            <li> Auction status: <b>{{ listing.status }}</b> </li>
            <li>Creator: {{ listing.user.username }}</li>
            <li>Category: {{ listing.category }}</li>
            <li>Description: {{ listing.description }}</li>
            <li><b>Current Bid ($): {{ listing.price }}</b></li>
            {% if listing.image.url != None %}
                <!-- remember to add ".url" to link to the image -->
                <li>Image: <img src="{{ listing.image.url }}" alt="Image" style="max-width: 200px;"></li>
            {% endif %}    
        </ul>
    {% endif %} 

    <h2>Comments</h2>
    <form method="post" action="{% url 'listing' listing.id %}">
        {% csrf_token %}
        <textarea name="comment" placeholder="Say something..."></textarea>
        <input type="submit" name="submit_comment">
    </form>

    <div>
        {% for comment in all_comments %}
        <ul>
            <li>{{ comment.user }}: {{ comment.content }}</li>
        </ul>
        {% endfor %}
    </div>

{% endblock %}