{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    <div>
        <h3>My created listings:</h3>
            {% for my_listing in my_listings %}
                <ul>
                    <li><a href="{% url 'listing' my_listing.id %}">Lisiting id: {{ my_listing.id }}</a></li>
                    <li> Auction status: <b>{{ my_listing.status }}</b> </li>
                    <li>Title: {{ my_listing.title }}</li>
                    <li><b>Current Bid ($): {{ my_listing.price }}</b></li>
                </ul>    
            {% endfor %}
    </div>

    <div>
        <h3>Ready to Bid:</h3>
        {% for bid_listing in bid_listings %}
            <ul>
                <li><a href="{% url 'listing' bid_listing.listing.id %}">Lisiting id: {{ bid_listing.listing.id }}</a></li>
                <li>Title: {{ bid_listing.listing.title }}</li>
                <li>Creator: {{ bid_listing.listing.title }}</li>
                <li><b>Current Bid ($): {{ bid_listing.listing.price }}</b></li>
            </ul>    
            <form method="post" action="{% url 'watchlist' %}">
                {% csrf_token %}
                <!-- <input type="hidden" name="page_url" value="{{ request.build_absolute_uri }}"> -->
                <input type="hidden" name="item_listing_id" value="{{ item.listing.id }}">
                <button type="submit" name="remove_button">Remove item</button>
            </form>
        {% endfor %}
    </div>
    
{% endblock %}