{% extends "auctions/layout.html" %}

{% block body %}
    <div>
        {% for category in categories %}
            <li><a href="{% url 'listings_by_cat' category.id %}" >{{ category }}</a></li>
        {% endfor %}
    
    </div>
    
{% endblock %}

<!-- <div>
    {% for category in categories %}
        <li><a href="{% url 'listings_by_cat' category.id %}" >{{ category }}</a></li>
    {% endfor %}
    
</div> -->

<!-- <div class="dropdown">
    <div class="dropdown-content">
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'listings_by_cat' category.id %}" >{{ category }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div> -->