/* layout.html */
body {
    padding: 10px;
}

.upper-right {
    position: fixed;
    top: 0;
    right: 0;

    padding: 5px;
    background-color: lightblue;
    border-radius: 10px;
}

.section {
    padding-left: 15px;
}

/* index.html */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns per row */
    grid-template-rows: 250px;
    gap: 20px;
}

.item_container {
    border: 1px solid black;
    border-radius: 10px;
}

#image_box {
    height: 100px; 
    overflow: hidden;
    padding-top: 5px;
}

#resize {
    height: 100px;
    /* same height as image_box */
    width: auto; 
    /* width will be automatically adjust to height */
}

#description {
    height: 2em; 
    overflow: hidden;
}

/* watchlist.html */
.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns per row */
    /* make each item sit side by side */   
}

.split{
    padding-left: 30px;
}

.left {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns per row */
    /* make each item sit side by side */
    gap: 10px;
}

.right {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns per row */
    /* make each item sit side by side */
    gap: 10px;
    width:550px;
}

.right button {
    width: 100px;
    height: 25px;
    font-size:small;
}
/* category.html */
.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: lightgray;
    border-radius: 10px;
    padding-left: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* listing.html */
.listing_row {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns per row */
    /* make each item sit side by side */  
    gap: 20px;  
    padding-left: 15px;
}

.listing_split {
    padding: 10px;
    border-radius: 10px;
}

.listing_border {
    border: 1px solid black;
}

.listing_image {
    padding-left: 30px;
    width: 400px;
    height: 300px; 
    /* height: auto;  */
    overflow: hidden;
}

.listing_image_resized {
    /* same width as image_box */
    width: 400px;
    height: 300px;
    /* height: auto; */
    
}

.all_comment {
    padding: 15px;
}

.add_to_watchlist_button, .bid_button {
    padding-bottom: 5px;
}
/* bid.html */
.bid_container {
    border: 1px solid black;
    border-radius: 10px;
    width: 250px;
}